<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>This is great</h1>
            <p>Welcome to templating using EJS</p>

            <h2>Data</h2>

            <ul>
                <li>
                    <strong>
                        <%= data.user.name %>
                    </strong>
                </li>
                <li>
                    <strong>
                        <%= data.user.email %>
                    </strong>
                </li>
                <li>
                    <strong>
                        <%= data.user.message %>
                    </strong>
                </li>
            </ul>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>